* {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 200;
  font-size: 101%;
  cursor: url(../media/cursor/pointer_final.png), auto;
  -webkit-font-smoothing: antialiased; }

#menu-wrap:hover li:not(:hover):not(#cta) {
  color: rgba(255, 255, 255, 0.6) !important; }

p {
  font-size: 1.5vw; }

hr {
  margin: 0.5vw;
  border: 1px solid white; }

.headline {
  text-transform: uppercase;
  text-align: center;
  font-family: Monoton, sans-serif;
  font-size: 4vw; }

.subheadline {
  width: 100%;
  padding: 3vw 0;
  font-size: 2vw; }

.screen {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-12deg); }
  50% {
    transform: rotate(12deg); }
  75% {
    transform: rotate(-12deg); }
  100% {
    transform: rotate(0deg); } }
.benefit-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw; }
  .benefit-bar img {
    align-self: center;
    height: 5vw;
    transition: all 200ms; }
  .benefit-bar:hover img {
    animation-name: shake;
    animation-duration: 750ms; }
  .benefit-bar .subheadline {
    text-align: center;
    padding: 1vw 0;
    width: inherit;
    font-family: Sanchez, serif, sans-serif; }

.event-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vw;
  width: 25vw;
  text-align: center;
  padding: 1vw;
  border-radius: 5px; }
  .event-bar .img-wrap {
    overflow: hidden;
    display: block; }
  .event-bar img {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    transition: all 250ms; }
    .event-bar img:hover {
      -webkit-transform: scale(1.3); }
  .event-bar p {
    padding: 1vw; }
  .event-bar .subheadline {
    text-align: center;
    padding: 1vw 0;
    width: inherit;
    font-family: Sanchez, serif, sans-serif; }
  .event-bar:nth-child(1) button {
    background-image: url(../media/button2.png); }
  .event-bar:nth-child(2) button {
    background-image: url(../media/button1.png); }
  .event-bar:nth-child(3) button {
    background-image: url(../media/button3.png); }
  .event-bar button {
    margin-top: 2vw;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1vw;
    border-radius: 6px;
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 250ms; }
    .event-bar button:focus {
      outline: none; }
    .event-bar button:hover {
      filter: brightness(135%); }
    .event-bar button:active {
      transform: scale(0.9); }

#bg-vid {
  width: 100vw;
  height: auto; }

#bg-cont {
  z-index: 999; }

.section {
  padding: 7vw; }

#description {
  height: auto;
  background-color: #699980;
  color: white;
  text-align: center; }
  #description img {
    width: 20vw; }
  #description .headline, #description .subheadline {
    margin: 0 auto;
    width: 70%; }
  #description .subheadline {
    padding: 1.5vw; }

#benefits {
  background-color: white;
  color: black;
  text-align: center; }

#events {
  color: white;
  background-color: #D76841; }
  #events .headline {
    text-align: center; }
  #events .subheadline {
    text-transform: uppercase; }

#faq img {
  float: right;
  width: 40%;
  padding-bottom: 4vw; }
#faq .headline {
  padding-bottom: 3vw; }
#faq #faq-screen {
  width: 50%; }
  #faq #faq-screen .subheadline {
    font-family: Sanchez, serif, serif;
    padding-bottom: 1vw; }
  #faq #faq-screen p {
    font-size: 1.1em; }

#gallery {
  width: 100vw;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px; }
  #gallery #gallery-image {
    width: 33.33333vw; }
  #gallery .img-wrap {
    overflow: hidden; }
  #gallery img {
    transition: all 250ms;
    -webkit-backface-visibility: hidden; }
  #gallery img:hover {
    transform: scale(1.2); }

#testimonials .testimonial-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw; }
  #testimonials .testimonial-bar .headline {
    text-transform: capitalize;
    font-family: Sanchez, serif;
    font-size: 2vw; }
  #testimonials .testimonial-bar p {
    padding: 1vw; }
  #testimonials .testimonial-bar img {
    display: block;
    margin: 0 auto;
    width: 60%; }

#social-proof {
  background-color: #42413D; }
  #social-proof .logo-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: auto; }
    #social-proof .logo-wrap img {
      width: 60%;
      display: block;
      margin: 0 auto; }

#contact {
  background-color: #F3F4E5; }
  #contact .headline {
    color: #699980; }
  #contact #mail-sent {
    text-align: center;
    font-size: 2vw; }
  #contact input {
    display: inline;
    width: 30%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px; }
  #contact textarea {
    margin-top: 1vw;
    display: inline;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 62%;
    height: 10vw; }
  #contact form {
    padding-top: 1vw;
    width: 70vw;
    text-align: center;
    margin: 0 auto; }
  #contact button {
    display: block;
    margin: 0 auto;
    margin-top: 0.6vw;
    background-image: url(../media/menu-bg.png);
    background-size: cover;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1vw 0;
    width: 63%;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 250ms; }
    #contact button:focus {
      outline: none; }
    #contact button:hover {
      filter: brightness(135%); }

#social-icons {
  padding-top: 3vw;
  width: 15vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  #social-icons .social {
    width: 5vw;
    height: 5vw;
    transition: all 250ms; }
    #social-icons .social img {
      width: 80%; }
    #social-icons .social:hover {
      transform: scale(1.2); }
    #social-icons .social:active {
      transform: scale(0.9); }

#vid-overlay {
  width: 100vw;
  padding: 1vw;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute; }

#headline {
  font-family: Sanchez, serif, sans-serif;
  font-size: 3.5vw;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: white; }

#subheadline {
  text-align: center;
  padding-top: 0.5em;
  width: 70%;
  margin: 0 auto;
  font-size: 2.5vw;
  font-weight: 300;
  color: white; }

#menu {
  font-size: 1.2vw;
  z-index: 200;
  position: fixed;
  width: 100vw;
  height: 0vw;
  background-image: url("../media/menu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 500ms ease;
  border: 0;
  border-style: solid;
  border-bottom-width: 2px;
  border-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5) 50%, transparent 100%) 5%;
  border-image: -webkit-linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent 100%) 5%; }
  #menu #home {
    vertical-align: middle;
    width: 2vw;
    height: 2vw; }
  #menu #logo {
    display: inline-block;
    position: absolute;
    left: 1.5vw;
    top: 0.6vw;
    transition: all 350ms ease; }
  #menu ul {
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    #menu ul #cta {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      margin: 0.5vw;
      margin-right: 2vw;
      transition: background-color 250ms; }
      #menu ul #cta:hover {
        background-color: rgba(255, 255, 255, 0.3); }
  #menu ul li {
    font-family: Sanchez;
    display: inline-block;
    color: white;
    padding: 0.7vw;
    transition: color 250ms; }

/*# sourceMappingURL=main.css.map */
